@unocss preflights;

.charity-overlay {
	@apply absolute top-0 left-0;
	@apply pointer-events-none;
	@apply rendering-pixelated;
}

.charity-settings-icon {
	@apply visible;
	@apply p-0;
	@apply border-3 border-solid border-black box-content;
	@apply shadow-[8px_8px_0px_0px_rgba(0,0,0,0.75)];
	@apply bg-white;
	@apply w-[38px] h-[38px];
	@apply flex items-center justify-center;
	@apply relative;
	@apply hover:bg-white;
	@apply hover:bg-[linear-gradient(rgba(0,0,0,.2)_0_0)];
	@apply hover:cursor-pointer;
	@apply active:bg-white;
	@apply active:bg-[linear-gradient(rgba(0,0,0,.3)_0_0)];
	@apply active:scale-95;
}

.charity-settings-icon > img {
	@apply p-[8px] m-0;
}

.charity-panel {
	@apply visible;
}

.charity-welcome-panel {
	@apply visible;
	@apply p-[21px];
	@apply border-3 border-solid border-black box-content;
	@apply shadow-[8px_8px_0px_0px_rgba(0,0,0,0.75)];
	@apply bg-white;
	@apply flex flex-col;
	@apply text-black;
	@apply w-[261px] max-w-[261px];
	@apply cursor-move;
}

.charity-settings-panel {
	@apply visible;
	@apply w-full sm:w-[400px] h-full;
	@apply fixed top-0 right-0;
	@apply p-0 p-r-[3px];
	@apply border-3 border-solid border-black box-border border-r-0;
	@apply bg-black;
	@apply flex flex-col;
	@apply text-black;
	@apply overflow-y-auto;
	@apply scrollbar-thin;
}

.charity-settings-container {
	@apply flex flex-col;
	@apply bg-white;
	@apply min-h-full;
}

.charity-panel-header {
	@apply sticky top-0;
	@apply p-[21px];
	@apply flex flex-col justify-center items-center;
	@apply bg-white;
	@apply z-50;
}

.charity-panel-header > h2 {
	@apply text-black text-[24px] leading-[28px] font-sans font-semibold;
	@apply m-0 p-0;
	@apply z-10;
}

.charity-panel-header::after {
	@apply content-empty;
	@apply absolute;
	@apply top-full;
	@apply w-full h-[32px];
	@apply bg-gradient-to-t from-transparent to-white;
	@apply pointer-events-none;
	@apply opacity-0;
}

.charity-panel-header.charity-panel-header-fade::after {
	@apply opacity-100;
}

.charity-panel-body {
	@apply flex-grow;
	@apply px-[21px];
	@apply flex flex-col items-center;
}

.charity-panel-body-setting-header {
	@apply flex justify-between items-center;
	@apply w-full max-w-[500px];
	@apply mt-5px p-0 gap-[8px];
}

.charity-panel-body-setting-header > h2 {
	@apply my-[8px];
	@apply text-black text-[18px] leading-[24px] font-sans font-semibold;
	@apply whitespace-nowrap;
}

.charity-setting-button {
	@apply w-full h-auto;
	@apply text-black text-[14px] leading-[20px] font-sans font-semibold;
	@apply bg-[#d4d7d9];
	@apply border-3 border-solid border-black box-border rounded-none;
	@apply p-y-[9px] p-l-[13px] p-r-0;
	@apply cursor-pointer;
	@apply flex items-center;
	@apply hover:bg-[linear-gradient(rgba(0,0,0,.2)_0_0)];
	@apply hover:cursor-pointer;
	@apply shadow-none focus:outline-none focus-visible:outline-none;
}

.charity-setting-button > img {
	@apply w-[20px] h-[20px];
	@apply m-0 mr-[8px];
}

.charity-setting-range {
	@apply appearance-none;
	@apply w-full max-w-[500px] h-[32px];
	@apply cursor-pointer;
	@apply rounded-none;
	@apply border-3 border-solid border-black box-border;
	@apply overflow-hidden;
	@apply shadow-none;
	@apply p-0;
	@apply focus:outline-none;
}

.charity-setting-range::-webkit-slider-runnable-track {
	@apply bg-[#d4d7d9];
}

.charity-setting-range::-webkit-slider-thumb {
	@apply appearance-none;
	@apply w-[26px] h-[32px];
	@apply bg-white;
	@apply shadow-[-500px_0_0_500px_#ff4500];
	@apply border-none;
	@apply outline outline-[3px] outline-black box-border rounded-none;
}

.charity-setting-range::-moz-range-track {
	@apply h-[32px];
	@apply bg-[#d4d7d9];
}

.charity-setting-range::-moz-range-thumb {
	@apply w-[26px] h-[32px];
	@apply bg-white;
	@apply shadow-[-500px_0_0_500px_#ff4500];
	@apply border-none;
	@apply outline outline-[3px] outline-black box-border rounded-none;
}

.charity-setting-range::-ms-fill-lower {
	@apply bg-[#ff4500];
}

.charity-setting-range::-ms-thumb {
	@apply w-[26px] h-[32px];
	@apply bg-white;
	@apply border-none;
	@apply outline outline-[3px] outline-black box-border rounded-none;
}

.charity-setting-range::-ms-ticks-after {
	@apply hidden;
}

.charity-setting-range::-ms-ticks-before {
	@apply hidden;
}

.charity-setting-range::-ms-track {
	@apply bg-[#d4d7d9] text-transparent;
	@apply h-[32px];
	@apply border-none;
}

.charity-setting-range::-ms-tooltip {
	@apply hidden;
}

.charity-setting-toggle {
	@apply w-[64px] h-[32px];
	@apply m-0;
	@apply shadow-[inset_-32px_0_0_3px_#d4d7d9,inset_0_0_0_3px_#d4d7d9];
	@apply transition-shadow duration-200 ease-out;
	@apply appearance-none;
	@apply border-3 border-solid border-[black] box-border rounded-none;
	@apply bg-black;
	@apply cursor-pointer;
	@apply focus:outline-none;
}

.charity-setting-toggle:checked {
	@apply shadow-[inset_32px_0_0_3px_#00cc78,inset_0_0_0_3px_#00cc78];
}

.charity-setting-keybind {
	@apply w-auto h-auto min-w-[44px] min-h-[44px];
	@apply text-black text-[14px] leading-[20px] font-sans font-semibold;
	@apply bg-[#d4d7d9];
	@apply border-3 border-solid border-black box-border rounded-none;
	@apply p-y-[9px] p-x-[13px];
	@apply cursor-pointer;
	@apply flex items-center justify-center;
	@apply hover:bg-[linear-gradient(rgba(0,0,0,.2)_0_0)];
	@apply hover:cursor-pointer;
	@apply shadow-none focus:outline-none;
}

.charity-panel-back {
	@apply absolute;
	@apply top-0 left-0;
	@apply flex items-center justify-center;
	@apply w-[29px] h-[29px];
	@apply border-r-3 border-r-solid border-r-black border-b-3 border-b-solid border-b-black box-content;
	@apply cursor-pointer;
}

.charity-panel-back > img {
	@apply w-[20px] h-[20px];
	@apply m-0;
}

.charity-panel-close {
	@apply absolute;
	@apply top-0 right-0;
	@apply flex items-center justify-center;
	@apply w-[29px] h-[29px];
	@apply border-l-3 border-l-solid border-l-black border-b-3 border-b-solid border-b-black box-content;
	@apply cursor-pointer;
}

.charity-panel-close > img {
	@apply w-[20px] h-[20px];
	@apply m-0;
}

.charity-panel-footer {
	@apply sticky;
	@apply w-full bottom-0 left-0;
	@apply bg-white;
	@apply border-t-3 border-t-solid border-t-black box-border;
}

.charity-panel-footer-branding {
	@apply flex items-center;
	@apply border-t-3 border-t-solid border-t-black box-border;
	@apply bg-[#ff99aa];
}

.charity-panel-footer-branding > div {
	@apply flex items-end justify-center;
	@apply grow;
	@apply gap-[16px];
}

.charity-panel-footer-branding > div > img {
	@apply h-[32px];
	@apply m-0 p-0;
	@apply align-bottom;
	@apply rendering-pixelated;
	@apply pointer-events-none;
}

.charity-panel-footer-branding > div > canvas {
	@apply h-[16px];
	@apply rendering-pixelated;
	@apply pointer-events-none;
}

.charity-panel-footer-branding > a > img {
	@apply h-[24px];
	@apply m-0 p-[16px];
	@apply border-l-3 border-l-solid border-l-black box-content;
	@apply bg-white text-black;
	@apply hover:bg-white;
	@apply hover:bg-[linear-gradient(rgba(0,0,0,.2)_0_0)];
	@apply hover:cursor-pointer;
	@apply align-bottom;
}

.charity-panel-footer-credits {
	@apply flex flex-col;
	@apply p-[16px];
	@apply text-center;
	@apply whitespace-nowrap;
}

.charity-panel-footer-credits > span {
	@apply text-black text-[18px] leading-[24px] font-sans font-semibold;
}

.charity-panel-footer-credits > ul {
	@apply self-center;
	@apply text-left;
	@apply m-0 p-0;
}

.charity-panel-footer-credits > ul > li {
	@apply list-square list-inside;
	@apply h-[24px];
}

.charity-panel-footer-credits > ul > li > span {
	@apply text-black text-[18px] leading-[24px] font-sans font-semibold no-underline hover:no-underline;
}

.charity-panel-footer-credits > ul > li > a {
	@apply h-[32px];
	@apply align-middle;
	@apply m-0;
	@apply text-black text-[18px] leading-[24px] font-sans font-semibold no-underline hover:no-underline;
}

.charity-panel-footer-credits > ul > li > a > span {
	@apply text-black text-[18px] leading-[24px] font-sans font-semibold underline;
}

.charity-panel-footer-credits > ul > li > a > img {
	@apply h-[32px];
	@apply align-middle;
	@apply m-0;
}

.charity-contact-info {
	@apply absolute;
	@apply pointer-events-none;
	@apply z-50;
}

.charity-contact-panel {
	@apply visible;
	@apply p-[16px];
	@apply border-3 border-solid border-black box-content;
	@apply shadow-[8px_8px_0px_0px_rgba(0,0,0,0.75)];
	@apply bg-white;
	@apply flex flex-col;
	@apply text-black;
}

.charity-contact-panel-line {
	@apply text-black text-[18px] leading-[24px] font-sans font-semibold whitespace-nowrap;
	@apply m-0 p-0;
}
